<div>
 <ul>

<div class="card">
  <div class="card-header">
    <h1>{{name}}</h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h4>{{birthdate}}</h4></li>
    <li class="list-group-item"><h4>{{birthplace}}</h4></li>
    <li class="list-group-item"><h4>{{deathdate}}</h4></li>
    <li class="list-group-item"><h4>{{deathplace}}</h4></li>
    <li class="list-group-item"><h4>{{nationality}}</h4></li>
    <li class="list-group-item"><h4>{{occupation}}</h4></li>
    <li class="list-group-item"> <h4>{{known_for}}</h4></li>
  </ul>
</div>

   <div class="card mt-3 mb-3">
      <div class="card-body">
      <h5 class="card-title"><h4>{{nameEducation}}</h4></h5>
      <p class="card-text">{{#each education}}
         <p>{{degree}}</p>
         <p>{{field}}</p>
         <p>{{institution}}</p>
         <p>{{year}}</p>
      {{/each}}</p>
      </div>
   </div>

      <div class="card mt-3 mb-3">
         <div class="card-body">
         <h5 class="card-title"><h4>{{nameNotable_publications}}</h4></h5>
         <p class="card-text">{{#each notable_publications}}
            <p>{{title}}</p>
            <p>{{year}}</p>
            <p>{{publisher}}</p>
         {{/each}}</p>
         </div>
      </div>

      <div class="card mt-3 mb-3">
         <div class="card-body">
         <h5 class="card-title"><h4>{{namePartners}}</h4></h5>
         <p class="card-text">{{#each partners}}
            <p>{{name}}</p>
            <p>{{relationship}}</p>
            <p>{{years}}</p>
         {{/each}}</p>
         </div>
      </div>

       <div class="card mt-3 mb-3">
         <div class="card-body">
         <h5 class="card-title"><h4>{{nameAwards}}</h4></h5>
         <p class="card-text">{{#each awards}}
         <p>{{title}}</p>
         <p>{{year}}</p>
         <p>{{description}}</p>
         <p>{{influences}}</p>
         <p>{{influenced}}</p>
         <p>{{quotes}}</p>
         {{/each}}</p>
         <p>{{influences}}</p>
         <p>{{influenced}}</p>
         <p>{{quotes}}</p>
         </div>
      </div>

   <div class="card mt-3 mb-3">
         <div class="card-body">
         <h5 class="card-title"><h4>{{nameMajor_discoveries}}</h4></h5>
         <p class="card-text">{{#each major_discoveries}}
            <p>{{title}}</p>
            <p>{{year}}</p>
            <p>{{description}}</p>
         {{/each}}</p>
         </div>
   </div>

<div class="card mt-3 mb-3">
         <div class="card-body">
         <h5 class="card-title"><h4>{{nameContributions}}</h4></h5>
         <p class="card-text">{{#with contributions}}
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{year}}</p>
            <p>{{field}}</p>
        {{/with}}</p>
         </div>
   </div>
 </ul>
 </div>
