<div>

<div class="alert alert-success m-3" role="alert">
  <h2 class="alert-heading">{{name}}</h2>
  <p>{{description}}</p>
</div>

    {{!-- <h1><span class="badge bg-secondary">{{name}}</span></h1>
    <ul><p>{{description}}</p></ul> --}}


    <button type="button" class="btn btn-secondary ms-3">History</button>
    <span>{{history.year}}</span>
    <span>{{history.founder}}</span>
</div>
     <br>
     <br>
    <button type="button" class="btn btn-secondary ms-3">Types</button>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">       
      <li class="breadcrumb-item active" aria-current="page">{{#if types}} {{[types]}} {{/if}}</li>
    </ol>
  </nav>
    <button type="button" class="btn btn-secondary ms-3">Syntax</button>
   {{#with syntax}}
      <nav style="--bs-breadcrumb-divider:" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">variables:</li>
          <li class="breadcrumb-item active" aria-current="page">{{#if variables}} {{[variables]}} {{/if}}</li>
        </ol>
      </nav>
      <nav style="--bs-breadcrumb-divider:" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">functions:</li>
          <li class="breadcrumb-item active" aria-current="page"><li class="breadcrumb-item active" aria-current="page">{{#if functions}} {{[functions]}} {{/if}}</li></li>
        </ol>
      </nav>
      <nav style="--bs-breadcrumb-divider:" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">conditionals:</li>
          <li class="breadcrumb-item active" aria-current="page">{{#if conditionals}} {{[conditionals]}} {{/if}}</li>
        </ol>
      </nav>
      <nav style="--bs-breadcrumb-divider:" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">loops: </li>
          <li class="breadcrumb-item active" aria-current="page">{{#if loops}} {{[loops]}} {{/if}}</li>
        </ol>
      </nav>
      <nav style="--bs-breadcrumb-divider:" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">classes:</li>
          <li class="breadcrumb-item active" aria-current="page">{{#if classes}} {{[classes]}} {{/if}}</li>
        </ol>
      </nav>
    {{/with}}
        <button type="button" class="btn btn-secondary">Features</button>
            <br>
          <ul>
            <br>
            <p>{{#if features}} {{[features]}} {{/if}}</p>
          </ul> 
        <button type="button" class="btn btn-secondary ms-3">Libraries</button>      
          <ul>
            <br> 
            <p>{{#if libraries}} {{[libraries]}} {{/if}}</p>
          </ul>
        <button type="button" class="btn btn-secondary ms-3">Tools</button>
            <br>    
          <ul>
            <br>
            <p>{{#if tools}} {{[tools]}} {{/if}}</p>
          </ul>
        <button type="button" class="btn btn-secondary ms-3">community</button>
            <br>
          <ul>
            <br>
            {{#each community}}
              <p>{{name}}</p>
              <p>{{type}}</p>
            {{/each}}
          </ul>
        


