<div class="card m-3">
  <div class="card-body">
   {{#with person}}
    <h1 class="card-title">{{name}}</h1>
    <h4 class="card-subtitle mb-2 text-body-secondary">Age {{age}}</h4>
    <h5 class="card-text">{{gender}}</h5>
      <hr>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0 mt-2">
    <div class="card">
      {{#with address}}
      <div class="card-body">
        <h5>{{name}}</h5>
         <span>{{street}}</span>,
          <span>{{city}}</span>,
          <span>{{state}}</span>,
          <span>{{zip}}</span>,
          <span>{{country}}</span>
      </div>
      {{/with}}
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5>{{nameEducation}}</h5>
        {{#each education}}
         <div>{{degree}}</div>
         <div>{{major}}</div>
         <div>{{graduationYear}}</div>
         <div>{{university}}</div>
        {{/each}}
      </div>
    </div>
  </div>

 <div class="col">
    <div class="card mt-3">
      <div class="card-body">
        <h5>{{nameWorkexperience}}</h5>
        {{#each workExperience}}
            <p>{{company}}</p>
            <p>{{title}}</p>
            <p>{{startDate}}</p>
            <p>{{endDate}}</p>
            <p>{{responsibilities}}</p>
            <p>{{year_founded}}</p>
            <p>{{industry}}</p>

               <h6><b>{{nameEmployees}}</b></h6>
                    {{#each employees}}
                        <p>{{name}}</p>
                        <p>{{position}}</p>
                        <p>{{department}}</p>

                        <b>{{nameProjects}}</b>
                        {{#each projects}}
                           <p>{{name}}</p>
                           <p>{{description}}</p> 
                           <p>{{status}}</p>

                           <b>{{nameTeam}}</b>
                           {{#each teams}}
                              <p>{{team_name}}</p>
                              <p>{{team_leader.name}}</p>
                              <p>{{team_leader.title}}</p>
                              <p>{{team_leader.email}}</p>

                              <b>{{nameTeam_members}}</b>
                                 {{#each team_members}}
                                    <p>{{name}}</p>
                                    <p>{{title}}</p>
                                    <p>{{email}}</p>
                                    <p>{{skills}}</p>

                                    {{#each projects}}
                                       <p>{{name}}</p>
                                       <p>{{description}}</p>
                                       <p>{{technologies}}</p>
                                       <ul>
                                       {{#each team_members}}
                                          <li>
                                          <p>{{name}}</p>
                                          <p>{{title}}</p>
                                          </li>
                                       {{/each}}
                                             </ul>
                   
                                             </ul>
     
                                    {{/each}}
                                 {{/each}}
                           {{/each}}
                        {{/each}}   
                     {{/each}}
         {{/each}}
        
      </div>
    </div>
  </div>

</div>
{{/with}}
 </div>
</div>
