<div class="card m-3">
   <div class="card-header mb-3">
      <h2 class="ms-3">Languages</h2>
   </div>
   <div class="ms-3 me-3">
{{#with web}}
   {{#with languages.[0]}}
            <b><em>{{name}}</em></b>
            <p>{{version}}</p>
            <p>{{description}}</p>
          <h5>Elements:</h5>
      {{#with elements.[0]}}
            <p>{{name}}</p>
            <p>{{description}}</p>
         <ul>
            <b>Attributes:</b>
         {{#each attributes}}
            <li>
               <p>{{name}}</p>
               <p>{{description}}</p>
            </li>
         {{/each}}
         </ul>
      {{/with}}
         {{#with elements.[1]}}
                     <p>{{name}}</p>
                     <p>{{description}}</p>
                  <ul>
                     <b>Attributes:</b>
            {{#each attributes}}
                     <li>
                        <p>{{name}}</p>
                        <p>{{description}}</p>
                     </li>
            {{/each}}
                  </ul>
         {{/with}}
                <hr>
   {{/with}}
            {{#with languages.[1]}}
                     <b><em>{{name}}</em></b>
                     <p>{{version}}</p>
                     <p>{{description}}</p>
                   <h5>Properties:</h5>
                  {{#with properties.[0]}}
                        <p>{{name}}</p>
                        <p>{{description}}</p>
                         <ul>
                          <b>Values:</b>
                     {{#each values}}
                           <li>
                              <p>{{value}}</p>
                              <p>{{description}}</p>
                           </li>
                     {{/each}}
                         </ul>
                  {{/with}} 
            {{/with}}      
                  <hr>    
               {{#with languages.[2]}}
                       <b><em>{{name}}</em></b>
                        <p>{{version}}</p>
                        <p>{{description}}</p>
                       <h5>Functions:</h5>
                  {{#with functions.[0]}}
                           <p>{{name}}</p>
                           <p>{{description}}</p>
                        <ul>
                         <b>Parameters:</b>
                        {{#each parameters}}
                           <li>
                              <p>{{name}}</p>
                              <p>{{type}}</p>
                              <p>{{description}}</p>
                           </li>
                        {{/each}}
                        </ul>
                  {{/with}}
                     {{#with functions.[1]}}
                                 <p>{{name}}</p>
                                 <p>{{description}}</p>
                           <ul>
                             <b>Parameters:</b>
                        {{#each parameters}}
                             <li>
                                 <p>{{name}}</p>
                                 <p>{{type}}</p>
                                 <p>{{description}}</p>
                             </li>
                        {{/each}}
                          </ul>
                     {{/with}}
               {{/with }}
{{/with}}
</div>
</div>

