 {{#each goodsList}}
            <div class="col-6 mb-2">
                <div class="card">
                        <img src="{{img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        {{#if isHot}}
                           <span class="badge rounded-pill text-bg-warning text-light mb-3">Hot!</span>
                        {{/if}}
                        {{#if isNew}}
                            <span class="badge rounded-pill text-bg-primary mb-3">New</span>
                        {{/if}}
                        {{#if isFast}}
                            <span class="badge text-bg-success">Швидка доставка</span>
                        {{/if}}
                        {{#if isFast}}
                            <span class="badge text-bg-secondary">Безкоштовна доставка</span>
                        {{/if}}
                        <h5 class="mt-2">{{name}}</h5>
                        {{#with review}}
                            <p>{{amount}} {{text}}</p>
                        {{/with}}
                        <h5 class="mb-2 mt-2">{{price}}</h5>
                        <span>{{delivery}}</span>
                        {{#each buttons}}
                            {{#if isPrimary}}
                                <a href="{{link}}" class="btn btn-primary mb-2 mt-3">{{text}}</a>
                            {{/if}}
                            {{#if isSecondary}}
                                <a href="{{link}}" class="btn btn-secondary">{{text}}</a>
                            {{/if}}
                        {{/each}}
                        {{#each characteristics}}
                            <ul class="mt-2">
                                <li>{{title}} {{value}}</li>
                            </ul>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}